<section>
  <p>My name is Marissa Douglass. I am a front end web developer with a background in graphic design. I learned to code:
    first, designing art for a university's online education portal before pivoting to web and front end development.</p>
  <p>My day to day consists of sketching, prototyping, and coding. This includes working in HTML and CSS, creating angular
    components, and working with our back-end team. My passion lies in creating new projects and having the skills to take
    them from start to finish.</p>
</section>