<h1>Slide Management</h1>
<h2>Purpose:</h2>
<p>*This was my first big idea that I proposed to my higher ups.</p>
<p>In Marketing, we create a lot of banners and ads letting our customers know that there are promotions, products, or events
  that they might care about. When I proposed this idea we were creating banners or ads at least once every other week, sometimes
  two or three in a week. While they did not have a lot of lines of code involved, we could have up to 4 websites with different
  brands that we would have to add these banners and ads. The difficult part came when we got final approval and added these
  to all the websites but then got a copy update. This meant we had to update code in four different places. What would start
  as a simple, easy task could turn into hours of updates, thus the idea to create something that could manage these banners
  all in one place came into existence.</p>
<h2>Requirements:</h2>
<h3>Banner</h3>
<ul>
  <li>Background image</li>
  <li>Text</li>
  <ul>
    <li>1+ lines</li>
    <li>Select text element</li>
    <ul>
      <li>H1</li>
      <li>H2</li>
      <li>P</li>
    </ul>
    <li>Select color</li>
    <ul>
      <li>Black</li>
      <li>Gray</li>
      <li>White</li>
      <li>Primary Brand</li>
    </ul>
    <li>Alignment</li>
    <ul>
      <li>Left Align</li>
      <li>Right Align</li>
    </ul>
  </ul>
  <li>Button</li>
  <ul>
    <li>Text</li>
    <li>Style</li>
    <li>Path</li>
  </ul>
</ul>
<h3>Visibility</h3>
<ul>
  <li>Who can see it</li>
  <li>What website it will be on</li>
  <li>What page</li>
</ul>
<h3>Time</h3>
<ul>
  <li>Start Date</li>
  <li>End Date</li>
</ul>