body {
    font-family: 'Noto Sans', sans-serif;
    padding: 0px;
    margin: 0px;
    overflow-x: hidden;
    min-height: 100vh;
}
section {
    padding: 50px 200px;
}
app-root {
    display: grid;
    /* grid-template-rows: 50px auto 50px; */
    justify-content: stretch;
    align-content: stretch;
}
app-header {
    height: 50px;
    background: rgb(41, 41, 41);
    /* border-bottom: 1px solid rgba(108,169,193, 0.8); */
}
app-homepage-intro {
    background: rgb(41, 41, 41);
    /* background: linear-gradient(90deg, rgba(108,169,193,1) 0%, rgba(148,193,108,1) 100%); */
    color: white;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
app-homepage-intro,
app-about,
app-resume,
app-portfolio {
    min-height: calc(100vh - 100px);
}
/* app-portfolio {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
} */
app-footer {
    height: 25px;
    width: 100%;
    color: #bbb;
    border-top: 1px solid rgba(108,169,193, 0.5);
}
app-footer p {
    margin: 10px;
}

/* Text */
h3, 
h5,
a {
    color: #6CA9C1;
}
a {
    text-decoration: none;
}