body {
    font-family: 'Noto Sans';
    padding: 0px;
    margin: 0px;
    overflow-x: hidden;
}
app-root {
    display: grid;
    grid-template-rows: 50px auto 50px;
    justify-content: stretch;
    align-content: stretch;
}
app-header {
    border-bottom: 1px solid #6CA9C1;
}
app-homepage-intro {
    background-color: #6CA9C1;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
h3, h5 {
    color: #6CA9C1;
}
a {
    color: #6CA9C1;
    text-decoration: none;
}
app-resume {
    padding: 10px;
}
app-footer {
    width: 100%;
    margin: 10px;
    color: #bbb;
}
app-footer p {
    margin: 0px;
    margin-left: 10px;
}